experiment/.DS_Store
        experiment/.nojekyll
        experiment/.settings.json.swp
        experiment/compile
        experiment/kitten-puppy.html
        experiment/kitten-puppy.js
        experiment/languages.json
        experiment/settings.json
        experiment/watch
*.Rhistory
